//
// Global header wrapper
//
.global-header {
  @include global-container;

  position: fixed;
  top: 0;
  z-index: 20000;

  &-inner {
    @include phone {
      min-height: 48px;
    }
    @include desktop {
      min-height: 90px;
    }
  }

  &:after {
    content: "";
    background-color: #d9d9d9;
    display: block;
    height: 1px;
    position: absolute;
    bottom: 0px;
    z-index: 20000;

    @include phone {
      width: calc(100vw - 30px);
      left: 15px;
    }
    @include desktop {
      min-width: 1000px;
      width: calc(100% - 80px);
      left: 40px;
    }
  }
}

//
// Site title
//
.site-ttl {
  position: absolute;
  z-index: 20000;
  left: 50%;

  @include phone {
    margin-left: -117.5px;
    top: 12px;
  }
  @include desktop {
    margin-left: -200px;
    top: 25px;
  }

  > .anchor {
    display: block;
    background: {
      image: url("./img/header_site_ttl.png");
      repeat: no-repeat;
      position: 50% 50%;
    }

    @include kick-out-text;

    @include phone {
      background-size: 225px auto;
      width: 225px;
      height: 24px;
    }
    @include desktop {
      background-size: 400px auto;
      width: 400px;
      height: 42px;

      &:hover {
        opacity: 1;
      }
    }
  }
}

//
// Global navigation wrapper
//
.header-navigation {
  background-color: $_color-base;
  position: relative;
  z-index: 19999;

  @include phone {
    padding: 48px 15px 0;
  }
  @include desktop {
    padding: 90px 40px 0;
  }

  &-inner {
    margin: 0 auto 0;

    @include phone {
      width: 100%;
    }
    @include desktop {
      width: 1000px;
    }
  }
}

//
// Workstore Tokyo Do brands
//
.site-brands {
  display: none;

  border-top: 1px solid #d9d9d9;
  &:after {
    content: "";
    background-color: #d9d9d9;
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  @include phone {
    margin-top: 5px;
  }
  @include desktop {
    margin-top: 25px;
  }

  @include grid($flex-wrap: wrap);

  // Brand item
  &-item {
    border: {
      right: 1px solid #d9d9d9;
      bottom: 1px solid #d9d9d9;
    }

    overflow: hidden;

    @include phone {
      @include grid-col($col: 1, $grid-columns: 2, $height: 85px);

      &:nth-child(2n) {
        border-right: none;
      }
    }
    @include desktop {
      @include grid-col($col: 1, $grid-columns: 4, $height: 155px);

      &:nth-child(4n) {
        border-right: none;
      }
    }

    > .anchor {
      @include flip-image-link;

      @include phone {
        &:before,
        &.active:after {
          background-image: url("./img/header_gnav_brand_sp.png");
          background-size: auto 680px;
        }
      }

      @include desktop {
        &:before,
        &:after {
          background-image: url("./img/header_gnav_brand.png");
          background-size: auto 310px;
        }
      }

      // Brand: "Direct management"
      &.direct {
        @include phone {
          &:before {
            background-position: 50% 0;
          }
          &.active:after {
            background-position: 50% -85px;
          }
        }
        @include desktop {
          &:before {
            background-position: 0 0;
          }
          &:after {
            background-position: 0 -155px;
          }
        }
      }

      // Brand: Neostall
      &.neostall {
        @include phone {
          &:before {
            background-position: 50% -170px;
          }
          &.active:after {
            background-position: 50% -255px;
          }
        }
        @include desktop {
          &:before {
            background-position: -250px 0;
          }
          &:after {
            background-position: -250px -155px;
          }
        }
      }

      // Brand: Neoponte
      &.neoponte {
        @include phone {
          &:before {
            background-position: 50% -340px;
          }
          &.active:after {
            background-position: 50% -425px;
          }
        }
        @include desktop {
          &:before {
            background-position: -500px 0;
          }
          &:after {
            background-position: -500px -155px;
          }
        }
      }

      // Brand: Sharyobu
      &.sharyobu {
        @include phone {
          &:before {
            background-position: 50% -510px;
          }
          &.active:after {
            background-position: 50% -595px;
          }
        }
        @include desktop {
          &:before {
            background-position: -750px 0;
          }
          &:after {
            background-position: -750px -155px;
          }
        }
      }
    }
  }
}

//
// Global menu
//
.global-menu {
  display: none;
  border-top: 1px solid #d9d9d9;
  position: relative;

  &:after {
    content: "";
    background-color: #d9d9d9;
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  @include phone {
    margin: 25px 0 20px;
    padding-bottom: 0;
  }
  @include desktop {
    margin-top: 30px;
    padding-bottom: 60px;
  }

  @include grid($flex-wrap: wrap);

  &-item {
    border: {
      right: 1px solid #d9d9d9;
      bottom: 1px solid #d9d9d9;
    }

    @include phone {
      @include grid-col($col: 1, $grid-columns: 2, $height: 45px, $min-width: 50%);

      &:nth-child(2n) {
        border-right: none;
      }
    }
    @include desktop {
      @include grid-col($col: 1, $grid-columns: 3, $height: 80px, $min-width: 33%);

      &:nth-child(3n) {
        border-right: none;
      }
    }

    display: inline-table;
    vertical-align: top;

    > .anchor {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      height: 100%;

      @include phone {
        padding-left: 14.5px;
        text-align: left;
        font-size: 1.3rem;
      }
      @include desktop {
        text-align: center;
        font-size: 1.6rem;
      }
    }
  }
}

// (Backward compatible...)
.global-menu > li > a[target="_blank"] > span:after {
  background-image: url("./img/icon_blank.png");
}

//
// Other links
//
.other-links {
  letter-spacing: -.4em;

  @include phone {
    display: none;
    padding-bottom: 25px;
    margin-left: -20px;
    position: static;
    text-align: center;
  }
  @include desktop {
    margin-left: -10px;
    position: absolute;
    top: 27px;
    left: 27px;
  }

  &-item {
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: top;
    letter-spacing: .02em;

    @include phone {
      margin-left: 20px;
    }
    @include desktop {
      margin-left: 10px;
    }

    > .anchor {
      display: block;
      width: 100%;
      height: 100%;

      &:hover {
        opacity: 1;
      }

      background: {
        image: url("./img/header_gnav_other.png");
        repeat: no-repeat;
        size: auto 35px;
      }

      @include kick-out-text;

      &.facebook {
        background-position: 0 0;
      }
      &.twitter {
        background-position: -35px 0;
      }
      &.contact {
        background-position: -70px 0;
      }
    }
  }
}

//
// Hamburger menu
//
.header_gnav_btn {
  position: absolute;

  @include phone {
    top: 0;
    right: 0;
  }
  @include desktop {
    top: 33px;
    right: 40px;
  }

  & > a {
    display: block;
    position: relative;
    opacity: 1;
    cursor: pointer;

    @include phone {
      width: 50px;
      height: 48px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    .header_gnav_btn_ttl {
      @include phone {
        display: none;
      }
      @include desktop {
        display: inline-block;
        width: 95px;
        height: 25px;
        position: absolute;
        top: 0;
        right: 0;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: .04em;
      }
    }
  }
}


#header {
  transform: translate3d(0, 0, 0);
  transition: .5s ease;

  &.hidden {
    transform: translate3d(0, -100%, 0);
  }
}
